<div id="app">
    <h1>Roles</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="role in roles">
                <td>{{role.name}} <span v-if="role.isSystem" class="badge badge-info" title="System role which can't be removed'">System</span></td>
                <td>{{role.description}}</td>
                <td v-if="role.showResources">
                    <a class="btn btn-primary" :href="'{{routePrefix}}/role?roleId=' + role.id + '&roleName=' + role.name" role="button">Resources</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            roles: []
        }
    });
    $.getJSON("{{routePrefix}}/api/role",
        function (response) {
            app.roles = response;
        });
</script>