<div id="app">
    <h1>Resources</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            <template v-for="resource in resources">
                <tr class="bg-primary">
                    <td>{{resource.name}}</td>
                    <td>{{resource.description}}</td>
                    <td>
                        <a class="btn btn-primary" :href="'{{routePrefix}}/page/role/' + resource.id" role="button">Resources</a>
                    </td>
                </tr>
                <template v-for="instance in resource.instances">
                    <tr class="bg-secondary">
                        <td>{{resource.name}}</td>
                        <td>{{resource.description}}</td>
                        <td></td>
                    </tr>
                </template>
            </template>
        </tbody>
    </table>
</div>
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            resources: []
        }
    });
    $.getJSON("{{routePrefix}}/json/resources.json",
        function (response) {
            app.roles = response;
        });
</script>