<div id="app">
    <h1>Resources</h1>
    <table class="table">
        <thead>
            <tr>
                <td></td>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody v-for="resource in resources">
            <tr>
                <td>
                    <span class="badge badge-pill badge-dark" title="Instance Count">{{resource.instancesCount}}</span>
                    <span class="badge badge-pill badge-primary" title="Permissions">{{resource.permisionsCount}}</span>
                </td>
                <td>{{resource.name}}</td>
                <td>{{resource.description}}</td>
                <td>
                    <a class="btn btn-primary" @click="load(resource)" role="button">Show Intstances </a>
                </td>
            </tr>
            <tr v-for="instance in resource.instances">
                <td>
                    <span class="badge badge-pill badge-primary" title="Permissions">{{resource.permisionsCount}}</span>
                </td>
                <td>{{instance.name}}</td>
                <td>{{instance.description}}</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            resources: []
        },
        methods: {
            load: function (resource) {
                $.getJSON("{{routePrefix}}/json/resource/" + resource.uniqueName + ".json",
                    function (response) {
                        resource.instances = response;
                    });
            }
        }
    });
    $.getJSON("{{routePrefix}}/json/resources.json",
        function (response) {
            for (var i in response) {
                response[i].instances = [];
            }
            app.resources = response;
        });
</script>